.posts {
  display: grid;
  grid-template-columns: 350px 350px;
  gap: 16px;
  max-width: 800px;
  justify-content: center;
  margin: auto;
}
@media (max-width: 600px) {
  .posts {
    grid-template-columns: auto;
  }
}